/* Layout 1 */
/* body {
  display: flex;
  flex-flow: row wrap;
}

header {
  order: -1;
  width: 100%;
}

main {
  justify-content: flex-start;
  order: 2;
  width: 70%;
}

.navigation {
  justify-content: flex-end;
  margin-top: 20px;
  order: 3;
  width: 30%;
}

.links {
  order: 4;
  width: 100%;
}

.links > ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.links > ul > li {
  float: left;
}

.links > ul > li a {
  display: block;
  padding: 5px 5px;
  text-align: center;
}

footer {
  margin-top: 20px;
  order: 5;
  text-align: center;
  width: 100%;
} */
/* Layout 1 END */

/* Layout 2 */
/* body {
  display: flex;
  flex-flow: row wrap;
}

header {
  order: -1;
  width: 100%;
}

main {
  justify-content: flex-start;
  order: 2;
  width: 70%;
}

.navigation {
  justify-content: flex-end;
  margin-top: 20px;
  order: 3;
  width: 30%;
}

.links {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  order: 4;
  width: 100%;
}

footer {
  margin-top: 20px;
  order: 5;
  text-align: center;
  width: 100%;
} */
/* Layout 2 END */

/* Layout 3 */
/* body {
  display: flex;
  flex-flow: row wrap;
}

header {
  order: -1;
  width: 100%;
}

main {
  order: 4;
  padding: 20px;
  width: 30%;
}

.navigation {
  order: 3;
  padding: 20px;
  width: 30%;

}

.links {
  order: 5;
  padding: 20px;
  width: 30%;
}

footer {
  margin-bottom: 20px;
  margin-top: 20px;
  order: 2;
  text-align: center;
  width: 100%;
} */
/* Layout 3 END */

/* Layout 4 */
body {
  display: flex;
  flex-flow: row wrap;
}

header {
  order: -1;
  width: 100%;
}

main {
  order: 3;
  padding: 20px;
  width: 30%;
}

.navigation {
  order: 2;
  padding: 20px;
  width: 30%;

}

.links {
  order: 4;
  padding: 20px;
  width: 30%;
}

footer {
  margin-bottom: 20px;
  margin-top: 20px;
  order: 5;
  text-align: center;
  width: 100%;
}

p:nth-of-type(2) {
  display: block;
  float: left;
  font-weight: bold;
  margin: 20px;
  width: 250px;
}
/* Layout 4 END */
